<EditForm Model="@category" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Category name: </label>
        <div>
            <InputText @bind-Value="@category.Categoryname" class="form-control" />
            <ValidationMessage For="@(() => category.Categoryname)" />
        </div>
    </div>

    <div class="form-group">
        <label>Category description: </label>
        <div>
            <InputText @bind-Value="@category.Categorydescription" class="form-control" />
            <ValidationMessage For="@(() => category.Categorydescription)" />
        </div>
    </div>

    <button type="submit" class="btn btn-success btn-block">
        @ButtonText
    </button>
    <EventRegistration.Client.Component.BackToList Target="categorys" />
</EditForm>

@code { [Parameter] public Category category { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; } }