@page "/eventss/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
<h3 class="card title"> Events </h3>
<br />
<a href="/eventss/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Event
</a>
<br />
<br />
@if (Events == null)
{
    <div class="alert alert-info">Loading Events...</div> }
else
{
    <table class="table table-responsive">
        <thead>
            <tr>

                <th>EventName</th>
                <th>EventDescription</th>
                <th>EventVenue</th>
                <th>Eventtime</th>
                <th>Venue</th>
                <th>Date</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var events in Events)
            {
            <tr>
                <td>@events.EventName</td>
                <td>@events.EventDescription</td>
                <td>@events.EventVenue</td>
                <td>@events.Eventtime</td>
                <td>@events.Venue.Venuename</td>
                <td>@events.Eventdatein.Date.ToString("dd MMMM yyyy")</td>

                <td>
                    <a href="/eventss/view/@events.Id" class="btn btn-primary">
                        <span class="oi oi-book"></span>
                    </a>
                    <a href="/eventss/edit/@events.Id" class="btn btn-warning">
                        <span class="oi oi-pencil"></span>
                    </a>
                    <button class="btn btn-danger" @onclick="@(()=>Delete(events.Id))">
                        <span class="oi oi-delete"></span>
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>}

@code {
    private List<Event> Events;
    private DateTime nullDT = new DateTime(1, 1, 1, 0, 0, 0);

    protected async override Task OnInitializedAsync()
    {
        Events = await _client.GetFromJsonAsync<List<Event>>($"{Endpoints.EventsEndpoint}");
    }

    async Task Delete(int eventsId)
    {
        var events = Events.First(q => q.Id == eventsId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {events.EventName}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.EventsEndpoint}/{eventsId}");
            await OnInitializedAsync();
        }
    }

}